
@{
    Layout = null;
}
@model TWANCOSMETICS.Areas.Admin.Model.Login
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đăng nhập</title>
    @Styles.Render("~/Styles/Css/Login.css")
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <div class="flex-container">
        <div class="flex-item-left">
            <img src="~/Images/T_W_A_N-removebg-preview.png" />

        </div>
        <div>
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "flex-item-right" }))
            {
                @Html.AntiForgeryToken()
                <p>
                    <span class="dangnhap">Đăng nhập</span>
                </p>
                @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                @Html.TextBoxFor(model => model.username, new { @class = "input", placeholder = "Tên đăng nhập", @autofocus = "autofocus" })
                <p>
                    @Html.PasswordFor(model => model.password, new { @class = "input", placeholder = "Mật khẩu", @type = "password" })

                </p>
                <button class="btdangnhap" type="submit" name="loginBtn" value="Login">Đăng nhập</button>
                <p style="text-align:center">
                    <a href="#quenmatkhau" class="quenmk">Quên mật khẩu? </a>
                </p>

                <input type="button" value="Tạo tài khoản mới" class="bttaotk" onclick="location.href='@Url.Action("Register", "Account")'" />
            }


        </div>
    </div>

</body>
</html>
